@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* stylish dark scrollbar */
.scrollbar-styled {
  scrollbar-width: thin;
  scrollbar-color: #64748b transparent; /* thumb, track */
}

.scrollbar-styled::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-styled::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  background-color: #64748b; /* slate-500 */
  border-radius: 999px;
}

.scrollbar-styled::-webkit-scrollbar-thumb:hover {
  background-color: #e5e7eb; /* slate-200/hover-ish */
}
